

.ep1-body {
    background:rgb(223, 116, 116)
}

.ep1-head {
    font-size: 80;
}

.ep1-video, p {
    display: flex;
    align-items: center;
    color: rgb(132, 34, 34);
    font-size: 100;
    padding-left:700px;
    
}



.ep2-body {
    background:rgb(223, 116, 116)
}

.ep2-head {
    font-size: 40;
}

.ep2-video, p {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 70;
    margin-left: 80px;
    
}




.ep3-body {
    background:rgb(223, 116, 116)
}

.ep3-head {
    font-size: 40;
}

.ep3-video, p {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 70;
    margin-left: 80px;
    
}




    
.ep4-body {
    background:rgb(223, 116, 116)
}

.ep4-head {
    font-size: 40;
}

.ep4-video, p {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 70;
    margin-left: 80px;
    
}



.ep5-body {
    background:rgb(223, 116, 116)
}

.ep5-head {
    font-size: 40;
}

.ep5-video, p {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 70;
    margin-left: 80px;
    
}
